@import "../../scss/mixins";

/* Cards layout*/
.cards {

    margin-bottom: 140px;
    position: relative;

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-size: 40px;
        line-height: 40px;

        text-align: center;

        margin-bottom: 50px;
    }

    &__content {
        min-height: 60px;
        width: 100%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 29px;
        margin-bottom: 50px;
    }

    &__button {
        @include button(120px);
    }

}

/* Card-item*/

.card {
    width: 370px;
    height: 254px;
    border-radius: 10px;
    padding: 20px;

    background: #FFFF;

    &__inner {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__info {
        text-align: center;
        color: rgba(0, 0, 0, 0.87);

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;

        &-email {
            position: relative;
        }
    }



    &__photo {
        img {
            border-radius: 50%;
        }

        width: 70px;
        height: 70px;

        margin-bottom: 20px;
    }

    &__name {
        text-align: center;
        margin-bottom: 20px;
        color: rgba(0, 0, 0, 0.87);

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;

    }
}

@media (max-width: 1024px) {
    .card {
        width: 282px;
    }
}

@media (max-width: 768px) {
    .cards {
        &__content {
            gap: 16px;
        }
    }

    .card {
        width: 344px;
    }
}

@media (max-width: 360px) {
    .card {
        width: 328px;
    }

    .cards {

        &__content {
            gap: 20px;
        }

        &__title {
            width: 328px;
        }
    }
}

